<!DOCTYPE html>

<html>
    <head>
        <title>Crypto Web App</title>
        
    </head>

    <body>
          
        <br>
        <div id="container" style="width:100%; height: 800px"></div>
        <div>
            <p>Crypto Chart</p>
        </div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    {{!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('container', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Crypto Coin Mentions'
            },
            xAxis: {
                categories: ["Bitcoin", "Ethereum", "Litecoin", "Cardano", "Polkadot", "Stellar", "Binance coin", "Monero" ]
            },
            yAxis: {
                title: {
                    text: 'Mentions'
                }
            },
            series: [{
                name: 'Acronym',
                data: [1, 0, 4, 5, 6, 7, 8, 9]
            }, {
                name: 'Standard',
                data: [5, 10, 3]
            }]
        });
    });
    </script> --}}
    
<script type="module" src="/js/highchart.js"></script>
<script type="module" src="/js/algorithm.js"></script>


</html>
