<!DOCTYPE html>

<html>
    <head>
        <title>Crypto Web App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
        <script type="text/javascript">
            
        </script>
    </head>

    <body>
          
        <br>
        <div id="container" style="width:100%; height: 800px"></div>
        <div>
            <p>Crypto Chart</p>
            <p>
            
            </p>
        </div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        var Algo1 = {{{algo}}}
        
        console.log(Algo1)
        alert(Algo1.standard)
        document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('container', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Crypto Coin Mentions'
            },
            xAxis: {
                categories: ["Bitcoin", "Ethereum", "Litecoin", "Cardano", "Polkadot", "Stellar", "Binance coin", "Monero" ]
            },
            yAxis: {
                title: {
                    text: 'Mentions'
                }
            },
            series: [{
                name: 'Acronym',
                data: Algo1.acronymn
            }, {
                name: 'Standard',
                data: Algo1.standard
            }]
        });
    });
    </script>
    
<script type="module" src="../js/highchart.js"></script>
<script type="module" src="../js/algorithm.js"></script>
<script data-main="../js/config" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js"></script>
<!--<script type="text/javascript" src="./jquery.js"></script>-->


</html>
